#room_list {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create_room_submit{
    margin: 10px;
}

.join_room_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    width: 200px;
    height: 30px;
}